@import "../../../../../shared/mixins.scss";

.jobs-roof-specialist-job {
    position: relative;
    display: table;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    background: #f7f7f7;
    border: 1.5rem solid transparent;
    border-radius: 6px;

    @include box-shadow(0 2px 2px rgba(#777, 0.2));
    @include transform(none);
    @include transition(all 0.3s ease-in-out);

    &-image, &-content {
        display: table-cell;
        vertical-align: top;
    }

    &-image {
        width: 124px;
        height: 124px;
        
        .picture {
            border-radius: 6px;
            background-color: white;
            
            @include box-shadow(0 2px 2px rgba(#333, 0.2));
        }
    }

    &-content {
        width: auto;
        padding-left: 1.5rem;

        &-top {
            &-meta {
                @include pc {
                    display: inline-block;
                    vertical-align: middle;

                    &:not(:first-child) {
                        margin-left: 15px;
                    }
                }

                &-icon, &-label {
                    display: inline-block;
                    vertical-align: middle;
                }

                &-icon {
                    svg {
                        color: #f13c20;
                        height: 20px;
                        width: auto;
                    }
                }

                &-label {
                    margin-left: 5px;
                    color: #303c6c;
                    font-size: 1.6rem;
                    font-weight: 400;
                    font-family: Lato, sans-serif;
                }
            }
        }

        &-title {
            margin-top: 1rem;
            font-size: 2rem;
            color: #303C6C;
            font-weight: bold;
            font-family: Lato, sans-serif;
            line-height: 2.4rem;
        }

        &-description {
            margin-top: 15px;
            font-size: 1.6rem;
            line-height: 1.9rem;
            max-height: 1.9 * 3rem;
            height: 1.9 * 3rem;
            overflow-y: hidden;
            color: #303c6c;
            font-weight: 400;
            font-family: Lato, sans-serif;
        }
    }

    &-settings-button {
        position: absolute;
        top: 0;
        right: 0;

        .settings-button {
            svg {
                color: #303c6c;
                height: 15px;
                width: auto;
            }
        }
    }

    &:hover {
        cursor: pointer;
        
        @include transform(translate(2px, -2px));
        @include box-shadow(0 4px 10px rgba(#777, 0.3));
    }
}