@import "../../../../shared/mixins.scss";

.profile-picture-change-modal {
    @include pc {
        width: 400px;
    }

    .modal-content-content {
        margin: 0;
    }

    .padding {
        padding: 1.6rem;
    }
}