@import "../../../shared/mixins.scss";

.picture-modal {
    max-height: 75vh;
    padding-bottom: 0!important;

    &-picture {
        text-align: center;

        img {
            height: auto;
            max-height: 50vh;
            max-width: 100%;
        }
    }

    .modal-content-content:last-child {
        padding-bottom: 1.5rem;
    }
}