@import "../../../../shared/mixins.scss";

#jobs-consumer-page {
    background: #f7f7f7;

    &-wizard {
        &-top {
            &-title {
                &-label, &-badge {
                    display: inline-block;
                    vertical-align: middle;
                }

                &-label {
                    color: #f7f7f7;
                    font-family: Lato, sans-serif;
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                    font-weight: bold;
                }

                &-badge {
                    margin-left: 1rem;
                }
            }

            &-description {
                margin-top: 1rem;
                color: #E8E8E8;
                font-size: 1.8rem;
                font-weight: 400;
            }

            &-filter {
                @include pc {
                    max-width: 448px;
                }
                
                margin-top: 1rem;

                input {
                    border-radius: 18px;
                }
            }
        }

        &-content {
            &-entries {
                padding: 1.5rem;

                &-no-entries {
                    padding: 16rem 1.5rem;
                    max-width: 500px;
                    text-align: center;
                    margin: 0 auto;

                    &-icon {
                        svg {
                            color: #777;
                            height: 40px;
                            width: auto;
                        }
                    }
                    
                    &-title {
                        font-size: 2rem;
                        font-weight: bold;
                        color: #777;
                        font-family: Lato, sans-serif;
                        margin-top: 1.5rem;
                    }

                    &-description {
                        font-size: 2rem;
                        font-weight: 400;
                        color: #777;
                        font-family: Lato, sans-serif;
                    }

                    &-button {
                        margin-top: 1.5rem;
                    }
                }

                >*:not(:first-child) {
                    margin-top: 1.5rem;
                }
            }
        }

        &-content-loading {
            padding: 100px 0;
        }
    }

    .wizard {
        padding-bottom: 10px;

        &-content {
            padding: 0!important;
            border-radius: 0 0 12px 12px;
        }
    }

    .breadcrumbs {
        @include grid;
        @include transform(none);
    }

    .footer {
        margin-top: 10rem;
    }
}