@import "../../../shared/mixins.scss";

$pageSectionPaddingMobile: 60px;
$pageSectionPaddingPc: 160px;

.page-section {
    @include mobile {
        padding: $pageSectionPaddingMobile 0;
    }

    @include pc {
        padding: $pageSectionPaddingPc 0;
    }

    &-grid {
        @include grid;
    }
}