@import "../../../shared/mixins.scss";

#home-page-content {
    &-hero {
        text-shadow: 0 2px 10px rgba(black, 0.9);

        &-subtitle {
            margin-top: 1rem;
        }

        &-buttons {
            margin-top: 5rem;
        }

        .button {
            @include mobile {
                display: block;
                width: 100%;

                &:not(:first-child) {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }
    }

    &-steps {
        color: #303c6c;

        .page-section-content {
            @include pc {
                display: inline-flex;
                width: 100%;

                >* {
                    display: inline-block;
                    align-items: stretch;
                    height: inherit;
                }
                
                .step {
                    width: 30%;
                    box-sizing: border-box;
                }
    
                .icon {
                    width: 5%;
                    text-align: center;
                    box-sizing: border-box;
                    margin: auto 0;
                }
            }

            @include mobile {
                >* {
                    display: block;
                    margin: 0 auto;
                }

                .step {
                    max-width: 360px;
                }

                .icon {
                    text-align: center;
                    padding: 15px 0;
                    width: auto;
                    height: auto;
                 
                    svg {
                        @include transform(rotate(90deg));
                    }
                }
            }
        }
    }
}