@import "../../../../shared/mixins.scss";

.wizard-content-outro {
    padding-top: 30px;
    text-align: right;

    &-hr {
        margin: 0;
        margin-left: auto;
        width: 16rem;
        height: 4px;
        background: #f7f7f7;
    }

    &-title {
        margin-top: 6rem;
        color: #303C6C;
        font-size: 2.4rem;
        font-weight: bold;
        font-family: Lato, sans-serif;
    }

    &-description {
        color: #777;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Lato, sans-serif;
    }
}