@import "../../../../../../shared/mixins.scss";

.profile-roof-specialist-reviews-review {
    @include mobile-small {
        width: 100%!important;
        margin-left: 1.5rem!important;
    }

    @include mobile {
        margin-left: 3rem;
        width: 30rem;
    }

    @include pc {
        margin-left: 3rem;
        width: 30rem;
    }

    display: inline-block;
    vertical-align: middle;
    background: #fff;
    padding: 1.5rem;
    margin-top: 3rem;
    text-align: left;
    border-radius: 6px;

    &-top {
        position: relative;
        padding-right: 5rem;
        min-height: 40px;

        &-left {
            width: auto;

            &-top {
                &-title {
                    font-weight: bold;
                    font-size: 2rem;
                    color: #303c6c;
                    font-family: Lato, sans-serif;
                }

                &-category {
                    font-size: 2rem;
                    color: #303c6c;
                    font-weight: 300;
                    font-family: Lato, sans-serif;
                }
            }
        }

        &-right {
            position: absolute;
            right: 0;
            top: 0;

            svg {
                width: 20px;
            }
        }
    }

    &-rating {
        margin-top: 1rem;
    }

    &-meta {
        &-left, &-right {
            display: inline-block;
            vertical-align: middle;
        }

        &-left {
            svg {
                color: #f13c20;
                height: 24px;
                width: auto;
            }
        }

        &-right {
            margin-left: 10px;
            color: #303c6c;
            font-size: 2rem;
            font-family: Lato, sans-serif;
        }

        &:first-child { 
            margin-top: 1rem;

            .profile-roof-specialist-reviews-review-meta-right {
                font-weight: bold;
            }
        }
    }

    &-description {
        margin-top: 1rem;
        font-size: 2rem;
        color: #303c6c;
        font-family: Lato, sans-serif;
        font-weight: 300;
    }
}