@import "../../shared/mixins.scss";

@include keyframes(loader-rotate) {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}

.loader {
    position: fixed;
    background: rgba(#303C6C, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    @include user-select(none);
    @include transition(opacity 0.3s ease-in-out);

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        max-width: 500px;
        color: #aaa;
        text-align: center;
        @include transform(translate(-50%, -50%));

        &-bottom {
            font-size: 3rem;
            padding-top: 2rem;
            color: #f7f7f7;
            max-width: 500px;
            text-shadow: 0 2px 2px rgba(#777, 0.3);
        }
    }

    &-bottom {
        &-left {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 2rem;
            opacity: 0.5;

            &-copyright, &-all-rights-reserved {
                font-size: 1.8rem;
                color: #f7f7f7;
                font-weight: 300;
                line-height: 2.2rem;
            }
        }
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    &:not(.show) {
        opacity: 0;
        pointer-events: none;
    }
}