@import "../../../../../../shared/mixins.scss";

.jobs-roof-specialist-job-detail {
    margin: 1.5rem;
    border-radius: 6px;
    overflow: hidden;

    @include box-shadow(-5px 7px 7px rgba(#777, 0.2));

    &-top {
        position: relative;
        display: table;
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
        background: #f7f7f7;
        border: 1.5rem solid transparent;

        &-left, &-content {
            display: table-cell;
            vertical-align: top;
        }

        &-left {
            width: 1%;

            &-picture {
                background: white;
                overflow: hidden;
                width: 124px;
                height: 124px;
                border-radius: 4px;
                
                @include box-shadow(0 2px 2px rgba(#777, 0.2));
            }
        }

        &-content {
            @include mobile {
                padding-left: 1.5rem;
            }

            @include pc {
                padding-left: 3rem;
            }

            width: auto;

            &-title {
                @include pc {
                    padding-bottom: 0.6rem;
                }

                @include mobile {
                    padding-bottom: 30px;
                }

                color: #303C6C;
                font-size: 2rem;
                font-weight: bold;
                padding-right: 6rem;
            }

            &-meta {
                padding-top: 0.6rem;

                &-left, &-right {
                    display: inline-block;
                    vertical-align: middle;
                }

                &-left {
                    width: 25px;
                    text-align: center;

                    svg {
                        color: #f13c20;
                        height: 20px;
                        width: auto;
                    }
                }

                &-right {
                    margin-left: 5px;
                    color: #303C6C;
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }
        }

        &-right {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }
    }

    &-content {
        position: relative;

        background: #4056A1;
        color: #f7f7f7;

        min-height: 60rem;
        
        font-family: Lato, sans-serif;

        &-specifications {
            padding: 3rem;

            &-top {
                @include pc {
                    &-left, &-right {
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                    }
                }

                @include mobile {
                    &-right {
                        margin-top: 3rem;
                    }
                }

                &-left {
                    &-title {
                        font-weight: bold;
                        font-size: 1.8rem;
                    }

                    &-content {
                        font-weight: 300;
                        font-size: 1.8rem;
                    }
                }

                &-right {
                    &-title {
                        font-weight: bold;
                        font-size: 1.8rem;
                    }

                    &-subtitle {
                        font-weight: 400;
                        font-size: 1.8rem;
                    }

                    &-content {
                        font-weight: 300;
                        font-size: 1.8rem;
                    }
                }
            }

            &-hr {
                margin-top: 6rem;
                opacity: 0.5;
                background: #f7f7f7;
                width: 250px;
                max-width: 100%;
                height: 4px;
            }

            &-bottom {
                margin-top: 3rem;
                max-width: 400px;

                &-specification {
                    margin-top: 3rem;
                    display: inline-block;
                    width: 200px;

                    &-key {
                        font-weight: bold;
                        font-size: 1.8rem;
                    }

                    &-value {
                        font-weight: 300;
                        font-size: 1.8rem;
                    }

                    &:nth-child(2n+1) {
                        padding-right: 1.5rem;
                    }
                }
            }
        }

        &-pictures {
            @include mobile {
                text-align: center;
            }

            padding: 1.5rem;
            padding-bottom: 3rem;

            &-no-picture {
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                max-width: 357px;

                @include transform(translate(-50%, -50%));

                &-top {
                    svg {
                        height: 40px;
                        width: auto;
                    }
                }

                &-title {
                    font-size: 2rem;
                    font-weight: bold;
                }

                &-description {
                    font-size: 1.8rem;
                    font-weight: 400;
                }
            }

            &-picture {
                background: white;
                width: 180px;
                height: 180px;
                overflow: hidden;
                border-radius: 6px;
                margin-left: 1.5rem;
                margin-top: 1.5rem;
                display: inline-block;
                vertical-align: top;

                @include box-shadow(0 2px 2px rgba(#333, 0.1));
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    cursor: pointer;

                    @include transform(translate(2px, -2px));
                    @include box-shadow(0 4px 10px rgba(#333, 0.2));
                }
            }
        }
    }
}