@import "../../shared/mixins.scss";

.rating {
    background: #F13C20;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;

    @include box-shadow(0 2px 2px rgba(#F13C20, 100));

    &-star {
        display: inline-block;

        svg {
            color: white;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }

    &.selectable {
        .rating {
            &-star {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}