@import "../../../../../shared/mixins.scss";

.add-job-pictures {
    &-pictures {
        @include mobile {
            text-align: center;
        }

        @include transform(translate(-30px, -30px));
    }

    .progress-spinner {
        margin: 100px 0;
    }
}