@import "../../shared/mixins.scss";

.badge {
    position: relative;
    color: #F7F7F7;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 11px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    
    @include box-shadow(0 2px 2px rgba(black, 0.2));
    
    &.color-orange {
        background: #F13C20;
    }

    &.color-grey {
        background: #777;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        width: auto;
        color: #f7f7f7;

        @include transform(translate(-50%, -50%));
    }
}