#costs-page {
    p {
        font-size: 1.8rem;
        color: #303c6c;
        font-family: Lato, sans-serif;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        a {
            color: #f13c20;

        }

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
}