@import "../../../shared/mixins.scss";

.form-checkbox {
    &-box, &-label {
        display: inline-block;
        vertical-align: middle;
    }

    &-box {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 5px;

        @include transition(all 0.1s ease-in-out);

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 15px;

            @include transform(translate(-50%, -50%));
            @include transition(all 0.1s ease-in-out);
        }
    }

    &-label {
        @include transition(all 0.3s ease-in-out);
        margin-left: 10px;
        font-size: 1.8rem;
        color: #777;
        font-family: Lato, sans-serif;
        font-weight: 400;        
    }

    &.size-small {
        .form-checkbox-label {
            font-size: 1.4rem;
        }
    }

    &.active {
        .form-checkbox-box {
            background: #f13c20;
            @include box-shadow(0 2px 2px rgba(#f13c20, 0.3));

            svg {
                color: #f7f7f7;
            }
        }
    }

    &:not(.active) {
        .form-checkbox-box {
            background: #F7F7F7;
            @include box-shadow(0 2px 2px rgba(#f7f7f7, 0.3));

            svg {
                color: #777;
                opacity: 0.5;
            }
        }
    }

    &:hover {
        cursor: pointer;

        .form-checkbox-label {
            text-decoration: underline;
        }
    }
}