@import "../../../../../../shared/mixins.scss";

.profile-roof-specialist-portfolio-image {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    background: #fff;
    width: 180px;
    height: 180px;
    margin-left: 30px;
    margin-top: 30px;
    overflow: hidden;

    @include box-shadow(0 2px 2px rgba(#333, 0.2));
    @include transition(all 0.3s ease-in-out);

    &-no-image {
        &-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;

            @include transform(translate(-50%, -50%));

            &-top, &-label {
                text-align: center;
            }

            &-top {
                svg {
                    color: #777;
                    height: 40px;
                    width: 40px;
                }
            }

            &-label {
                color: #777;
                font-family: Lato, sans-serif;
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
    }

    &-image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;

        @include transform(translate(-50%, -50%));
    }

    &:hover {
        cursor: pointer;

        @include box-shadow(0 4px 10px rgba(#333, 0.15));
        @include transform(translate(1px, -1px));
    }
}