@import "../../../shared/mixins.scss";

#about-us-page {
    &-steps  {
        color: #303c6c;

        .page-section-content {
            width: 100%;
            text-align: center;

            >* {
                text-align: left;
            }

            @include pc {
                width: 100%;

                >* {
                    display: inline-block;
                    margin: auto 0;
                }
                
                .step {
                    width: 30%;
                    box-sizing: border-box;
                }
    
                .icon {
                    width: 5%;
                    text-align: center;
                    box-sizing: border-box;
                    margin: auto 0;
                }
            }

            @include mobile {
                >* {
                    display: block;
                    margin: 0 auto;
                }

                .step {
                    max-width: 360px;
                }

                .icon {
                    text-align: center;
                    padding: 15px 0;
                    width: auto;
                    height: auto;
                 
                    svg {
                        @include transform(rotate(90deg));
                    }
                }
            }
        }
    }

}