@import "../../../shared/mixins.scss";

.form-select {
    background: #fff;
    border: 2px solid white;
    line-height: 44px;
    height: 44px;
    border-radius: 8px;

    @include box-shadow(0 2px 2px rgba(#777, 0.3));
    @include transition(all 0.3s ease-in-out);
    
    &-table {
        position: relative;

        &-left {
            padding-left: 15px;
            color: #777;
            font-size: 1.8rem;
            font-family: Lato, sans-serif;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 60px;
        }
    
        &-right {
            position: absolute;
            right: 0;
            top: 50%;
            height: 45px;
            text-align: center;
            box-sizing: border-box;

            svg {
                height: 30px;
                color: #777;

                @include transition(all 0.3s ease-in-out);
                @include transform(translate(-50%, -50%));
            }
        }
    }

    &.active {
        border-color: #303c6c;

        .form-select-table {
            &-left {
                color: #303c6c;
            }

            &-right {
                svg {
                    color: #303c6c;

                    @include transform(rotate(180deg) translate(50%, 50%));
                }
            }
        }
    }

    &.disabled {
        opacity: 0.5;
        border-color: #777;
        background: #777;

        @include user-select(none);

        .form-select-table {
            &-left {
                color: black;
            }

            &-right {
                svg {
                    color: black;
                }
            }
        }
    }

    &:hover.disabled {
        cursor: not-allowed;
    }

    &:hover:not(.disabled) {
        cursor: pointer;
        @include box-shadow(0 4px 4px rgba(#777, 0.15));
        @include transform(translate(1px, -1px));
    }
}