@import "../../shared/mixins.scss";

body.firefox .button {
    @include transition(none!important);
}

.button {
    @include pc {
        &:hover:not(.clicked):not(.disabled):not([disabled]) {
            cursor: pointer;
            @include box-shadow(0 4px 4px rgba(black, 0.15));
            @include transform(translate(1px, -1px));
        }
    }

    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 0 2.5rem;
    text-shadow: 0 2px 2px rgba(black, 0.1);
    text-decoration: none;
    text-align: center;
    pointer-events: all;
    
    @include box-shadow(0 2px 2px rgba(black, 0.1));
    @include transform(translate(0, 0));
    @include user-select(none);
    @include transition(all 0.3s ease-in-out);

    &.color-white {
        background: #fff;
        color: #303C6C;
    }

    &.color-purple {
        background: #303C6C;
        color: #f7f7f7;
    }

    &.color-light-purple {
        background: #4056a1;
        color: #f7f7f7;
    }

    &.color-orange {
        background: #f13c20;
        color: #f7f7f7;
    }

    &.size-small {
        height: 44px;
        line-height: 44px;
        font-size: 1.8rem;
    }

    &.size-regular {
        height: 6.7rem;
        line-height: 6.7rem;
        font-size: 2rem;
    }

    &.full-width {
        width: 100%;
    }

    &[disabled], &.disabled {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed;
        }
    }

    &:not(:first-child) {
        margin-left: 2.5rem;
    }

    &:active, &:focus, &:visited {
        text-decoration: none;
    }

    .badge {
        position: absolute;
        top: 0;
        right: 0;

        @include transform(translate(50%, -50%));
    }
}