@import "../../shared/mixins.scss";

.tabs {
    position: relative;

    &-table {
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;

        &-row {
            display: table-row;
        }
    }

    &-border-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 7px;
        background: #f13c20;
        pointer-events: none;
        
        @include box-shadow(0 2px 2px rgba(#f13c20, 0.2));
        @include transition(all 0.2s ease-in-out);
    }
}