@import "../../shared/mixins.scss";

.hero {
    &-container {
        width: 100%;
    }

    @include mobile {
        margin-top: 80px;
        background-position: 20% 100%;
        background-size: cover;
        height: 400px;
    }

    @include pc {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;
        max-height: 70vh;
        min-height: 400px;
    }

    background-color: #f7f7f7;

    position: relative;
    width: 100%;

    &-content {
        @include mobile {
            text-align: center;
        }

        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 50%;
        left: 0;

        @include transform(translateY(-50%));

        &-grid {
            @include grid;
            color: #f7f7f7;
        }
    }
}