@import "../../../../shared/mixins.scss";

.wizard-tab {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    padding: 2.2rem 3rem;
    text-align: center;

    @include user-select(none);
    @include transition(all 0.2s ease-in-out);

    &-badge {
        .badge {
            margin: 0 auto;
            position: relative;
        }
    }

    &-label {
        color: #f7f7f7;
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1.4rem;
        font-family: Lato, sans-serif;

        @include transition(all 0.2s ease-in-out);
    }

    &.active {
        background: #f7f7f7;

        .wizard-tab-label {
            color: #303c6c;
        }
    }

    &:hover:not(.active):not(.disabled) {
        cursor: pointer;
        background: #4056A1;
    }

    &:hover.disabled:not(.active) {
        cursor: not-allowed;
    }
}