@import "../../shared/mixins.scss";

.wizard {
    @include mobile {
        padding-top: 18rem;
    }

    @include pc {
        padding-top: 10rem;

        @include grid;
    }

    position: relative;
    padding-bottom: 10rem;
    z-index: 1;
    
    &-container {
        border-radius: 12px;
        @include box-shadow(0 2px 20px rgba(#777, 0.2));
    }
}