@import "../../../../../../shared/mixins.scss";

.inbox-content-chat {
    @include pc {
        background: rgba(#f7f7f7, 0.95);
        position: absolute;
        min-height: unset!important;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    @include mobile {
        background: #f7f7f7;
        top: 0;
        left: 0;
        width: 100vw;
        width: calc(var(--vw, 1vw) * 100);
        width: 100%;
        height: 100%;
        display: table-cell;
        position: absolute;
    }

    &-top {
        @include pc {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
        }
        
        @include mobile {
            position: fixed;
            left: 50%;
            width: 50%;
            top: 0;
            height: 120px;
            z-index: 2;
        }
        
        padding: 10px;
        background: #4056a1;

        @include box-shadow(0 2px 5px rgba(#4056a1, 0.2));

        &-consumer {
            display: table;
            border-collapse: collapse;
            table-layout: auto;
            width: 100%;

            &-left, &-right {
                display: table-cell;
                vertical-align: top;
            }

            &-left {
                &-return-to-inbox {
                    @include pc {
                        display: none;
                    }

                    @include mobile {
                        display: inline-block;
                        vertical-align: top;
                    }
                }

                &-settings {
                    @include mobile {
                        margin-left: 15px;
                    }

                    display: inline-block;
                    vertical-align: top;
                    width: auto;

                    .settings-button {
                        &-button {
                            margin-top: 2px;
                        }
                    }
                }

                &-profile {
                    @include mobile {
                        margin-top: 10px;
    
                        .button {
                            width: 113px;
                        }
                    }

                    @include pc {
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 10px;
                    }
                }
            }

            &-right {
                text-align: right;

                @include pc {
                    &-personal-details, &-profile-picture {
                        display: inline-block;
                        vertical-align: top;
                    }
                }

                &-personal-details {
                    @include pc {
                        margin-right: 10px;
                    }

                    &-full-name, &-address {
                        font-family: Lato, sans-serif;
                        color: #f7f7f7;
                    }

                    &-full-name {
                        font-size: 2rem;
                    }
    
                    &-address {
                        font-size: 1.6rem;
                        color: 300;
                    }
                }

                &-profile-picture {
                    @include mobile {
                        margin-top: 10px;
                    }

                    text-align: right;
                    margin-right: 0;
                    margin-left: auto!important;

                    .profile-picture {
                        margin-right: 0;
                        margin-left: auto!important;
                    }
                }
            }
        }

        &-roof-specialist {
            display: table;
            border-collapse: collapse;
            table-layout: auto;
            width: 100%;

            &-left, &-right {
                display: table-cell;
                vertical-align: top;
            }

            &-left {
                &-return-to-inbox {
                    @include pc {
                        display: none;
                    }

                    @include mobile {
                        display: inline-block;
                        vertical-align: top;
                    }
                }

                &-settings {
                    display: table;
                    width: auto;

                    @include mobile {
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 15px;
                    }

                    .settings-button {
                        &-button {
                            height: 44px;
                            width: 44px;
                        }
                    }
                }
            }

            &-right {
                text-align: right;

                @include pc {
                    &-personal-details, &-profile-picture {
                        display: inline-block;
                        vertical-align: top;
                    }
                }

                &-personal-details {
                    @include pc {
                        margin-right: 10px;
                    }

                    &-full-name, &-address {
                        font-family: Lato, sans-serif;
                        color: #f7f7f7;
                    }

                    &-full-name {
                        font-size: 2rem;
                    }
    
                    &-address {
                        font-size: 1.6rem;
                        color: 300;
                    }
                }

                &-profile-picture {
                    @include mobile {
                        margin-top: 10px;
                    }

                    text-align: right;
                    margin-right: 0;
                    margin-left: auto!important;

                    .profile-picture {
                        margin-right: 0;
                        margin-left: auto!important;
                    }
                }
            }
        }
    }

    &-messages {
        @include pc {
            position: absolute;
            top: 120px;
            left: 0;
            width: 100%;
            overflow-y: auto;
        }

        @include mobile {
            position: absolute;
            top: 120px;
            left: 0;
            width: 100%;
            max-height: 100%;
            max-height: calc(100% - 174px);
            height: 100%;
            height: calc(100% - 174px);
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            display: block;

            &.pwa-iphone-x {
                max-height: 100%;
                max-height: calc(100% - 191.5px);
                height: 100%;
                height: calc(100% - 191.5px);
            }
        }
        
        &-content {
            @include pc {
                position: relative;
                min-height: 100%;
                height: 100%;
            }

            &-no-messages {
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;

                @include transform(translate(-50%, -50%));

                &-icon {
                    svg {
                        height: 60px;
                        width: auto;
                        color: #777;
                    }
                }

                &-title {
                    font-size: 2rem;
                    color: #777;
                    margin-top: 10px;
                }

                &-description {
                    font-size: 1.8rem;
                    color: #777;
                    margin-top: 10px;
                    font-weight: 300;
                }
            }
        }
    }

    &-bottom {
        @include mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            
            &.pwa-iphone-x {
                padding-top: 5px;
                padding-bottom: 22.5px;
            }
        }

        @include pc {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        width: 100%;
        min-height: 54px;
        padding: 5px;
        padding-right: 10px;
        background: white;
        z-index: 1;

        @include box-shadow(0 -2px 5px rgba(#ccc, 0.2));

        &-table {
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            max-width: 100%;

            &-left, &-right {
                display: table-cell;
                vertical-align: middle;
                text-align: right;
            }
    
            &-left {
                width: 100%;
                
                .form-input {
                    max-width: 500px;
                    margin-left: auto;
                }
    
                textarea {
                    resize: none!important;
                }
            }
    
            &-right {
                width: 44px;
                position: relative;

                .button {
                    height: 44px;
                    width: 44px;
                    padding: 0;
                    margin-left: 5px;

                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 24px;
                        width: auto;
                        color: white;
        
                        @include transform(translate(-50%, -50%));
                    }
                }
            }
        }
    }
}