@import "../../../shared/mixins.scss";

.roof-specialist-filters-modal {
    @include pc {
        width: 810px;
    }

    .modal-content-content {
        text-align: left;

        &:last-child {
            >.modal-content-content-left {
                width: 100px;
            }

            >.modal-content-content-right {
                width: auto;

                .button {
                    &:last-child {
                        margin-left: 1.5rem;
                    }
                }
            }
        }
    }
}