@import "../../../shared/mixins.scss";

#inbox-page {
    @include mobile {
        background: white;
    }

    &-hero {
        @include mobile {
            display: none;
        }

        z-index: 1;

        @include box-shadow(0 2px 10px rgba(#f7f7f7, 0.3));
    }

    &-content {
        @include pc {
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 1;
        }

        @include mobile {
            max-height: unset!important;
            top: 0;
        }

        &-container {
            @include mobile {
                position: relative;
                width: 200%;
                min-height: unset!important;
                height: unset!important;
                max-height: unset!important;
                display: table;
                table-layout: fixed;
                border-collapse: collapse;

                &-left {
                    &.pwa {
                        height: calc(100vh - 131px)!important;
                        max-height: calc(100vh - 131px)!important;
                    }
                    &:not(.pwa) {
                        height: calc(100vh - 131px)!important;
                        height: calc(var(--vh, 1vh) * 100 - 131px)!important;
                        max-height: calc(100vh - 131px)!important;
                        max-height: calc(var(--vh, 1vh) * 100 - 131px)!important;
                    }
                }

                &-right {
                    &.pwa {
                        height: calc(100vh)!important;
                        max-height: calc(100vh)!important;
                    }
                    &:not(.pwa) {
                        height: calc(100vh)!important;
                        height: calc(var(--vh, 1vh) * 100)!important;
                        max-height: calc(100vh)!important;
                        max-height: calc(var(--vh, 1vh) * 100)!important;
                    }
                }

                >* {
                    display: table-cell;
                    vertical-align: top;
                    width: 100vw;
                    width: calc(var(--vw, 1vw) * 100);
                }
            }

            @include pc {
                border-radius: 12px;
                margin: 0 auto;
                max-width: 1000px;

                @include box-shadow(0 2px 20px rgba(#777, 0.2));

                &-left, &-right {
                    height: 100%;
                    max-height: 100%;
                }
            }

            width: 100%;
            height: 100%;
            max-height: 100%;

            &-left, &-right {
                position: relative;
                display: table-cell;
                vertical-align: top;
                overflow-y: auto;
                overflow-x: hidden;
            }

            &-left {
                @include mobile {
                    -webkit-overflow-scrolling: touch;
                }
                
                @include pc {
                    border-radius: 12px 0 0 12px;
                    z-index: 2;
                }
            }

            &-right {
                @include pc {
                    width: 100%;
                    border-radius: 0 12px 12px 0;
                }
            }
        }
    }

    .breadcrumbs {
        @include mobile {
            display: none;
        }

        position: relative;
        z-index: 1;
        padding: 0 3rem;
        
        @include transform(none);
    }
}