@import "../../../../shared/mixins.scss";

#inbox-contacts {
    @include pc {
        position: relative;
        z-index: 1;

        @include box-shadow(2px 0 2px rgba(#333, 0.2));

        &-scroll-content {
            width: 320px;
            padding-bottom: 125px;
            overflow-y: auto;
            overflow-x: hidden;
            background: white;

            @include hide-scrollbars;
        }

        &-gradient {
            position: absolute;
            height: 125px;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }
    }

    @include mobile {
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;

        &-gradient {
            display: none;
        }

        &-scroll-content {
            width: 100vw!important;
        }

        &.pwa {
            height: calc(100vh - 131px)!important;
            max-height: calc(100vh - 131px)!important;
        }

        width: 100vw!important;
    }
    
    background: white;
    vertical-align: top;

    &-top {
        padding: 16px;

        &-title {
            color: #303c6c;
            font-weight: bold;
            font-size: 2rem;
            font-family: Lato, sans-serif;
        }

        &-filter {
            margin-top: 16px;
        }

        &-hr {
            height: 4px;
            width: 50%;

            margin: 0 auto;
            margin-top: 16px;

            background: #f7f7f7;
        }
    }

    &-content {
        &-no-content {
            height: 91px;
            background: #f7f7f7;
            border-bottom: 4px solid #e6e6e6;
        }
    }
}