@import "../../../shared/mixins.scss";

.pagination-bar {
    background: #d8d8d8;
    display: table;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    border: 1.5rem solid transparent;

    &-left, &-center, &-right {
        display: table-cell;
        vertical-align: middle;
    }

    &-left {
        width: 40px;
    }

    &-center {
        width: auto;
        text-align: center;

        &-first, &-ellipsis, &-buttons, &-last {
            display: inline-block;
            vertical-align: middle;
        }

        &-ellipsis {
            width: 40px;
            height: 40px;
            line-height: 30px;

            text-align: center;

            font-size: 2.4rem;
            color: #303C6C;
            font-weight: bold;
            font-family: Lato, sans-serif;
        }

        &-buttons {
            >* {
                @include mobile {
                    margin-left: 1.5rem;
                }

                &:not(:first-child) {
                    margin-left: 1.5rem;
                }
            }
        }
    }

    &-right {
        width: 40px;
    }

    .pagination-button {
        display: inline-block;
        vertical-align: middle;
    }
}