@import "../../../../../shared/mixins.scss";

body.firefox .inbox-contacts-connection {
    @include transition(none!important);
}

.inbox-contacts-connection {
    @include pc {
        &:hover:not(.active) {
            cursor: pointer;
    
            &:not(.accepted):not(.declined):not(.unread) {
                color: #f13c20;
                border-color: #f13c20;
                background: white;
            }
    
            @include transform(translate(2px, -2px));
        }
    }

    border-bottom: 4px solid #e6e6e6;
    padding: 10px;

    color: #777;

    @include user-select(none);
    @include transition(all 0.3s ease-in-out);

    &-top {
        display: table;
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;

        &-picture, &-center, &-timestamp {
            display: table-cell;
            vertical-align: top;
        }

        &-picture {
            width: 32px;

            .profile-picture {
                @include box-shadow(0 1px 2px rgba(#777, 0.2));
            }
        }

        &-center {
            width: auto;
            padding-left: 10px;

            &-name {
                font-size: 14px;
                font-weight: bold;
                font-family: Lato, sans-serif;
            }

            &-job-title {
                font-size: 14px;
                font-weight: 400;
                font-family: Lato, sans-serif;
            }
        }

        &-timestamp {
            width: auto;
            text-align: right;

            &-label, &-dot, svg {
                display: inline-block;
                vertical-align: middle;
            }

            &-label {
                font-size: 14px;
                font-weight: bold;
                font-family: Lato, sans-serif;
            }

            &-dot {
                margin-left: 5px;
                background: #f13c20;
                width: 10px;
                height: 10px;
                border-radius: 50%;

                @include box-shadow(0 1px 1px rgba(#f13c20, 0.2));
            }

            svg {
                margin-left: 5px;
                height: 20px;
                width: auto;
            }
        }
    }

    &-preview {
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 300;
        font-family: Lato, sans-serif;
    }

    &.active {
        color: #303c6c;
        border-color: #303c6c;
    }

    &.accepted {
        background: #4056a1;
        border-color: #f7f7f7;
        color: #f7f7f7;
    }

    &.declined {
        background: #f13c20;
        border-color: #f7f7f7;
        color: #f7f7f7;
    }

    &.unread {
        border-color: #f13c20;
        color: #f13c20;
    }
}