@import "../../../../shared/mixins.scss";

#jobs-roof-specialist-page {
    background: #f7f7f7;

    &-wizard {
        &-top {
            &-title {
                &-label, &-badge {
                    display: inline-block;
                    vertical-align: middle;
                }

                &-label {
                    color: #f7f7f7;
                    font-family: Lato, sans-serif;
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                    font-weight: bold;
                }

                &-badge {
                    margin-left: 1rem;
                }
            }

            &-description {
                margin-top: 1rem;
                color: #E8E8E8;
                font-size: 1.8rem;
                font-weight: 400;
                max-width: 700px;
                padding-right: 100px;
            }

            &-filter {
                position: absolute;
                right: 6rem;
                top: 8.4rem;
            }
        }

        &-content {
            overflow-x: hidden;

            &-container {
                position: relative;

                @include transition(all 0.5s ease-in-out);

                &-job-detail {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    height: 100%;
                    background: #303C6C;

                    .button {
                        position: relative;
                        padding-left: 1.2rem;
                        padding-right: 2.4rem;
                        margin-left: 1.5rem;
                        top: 50%;

                        @include transform(translateY(-50%));

                        svg {
                            @include mobile {
                                @include transform(translateY(9px));
                            }

                            @include pc {
                                @include transform(translateY(7px));
                            }
                        }

                        span {
                            display: inline;
                            vertical-align: top;
                            margin-left: 1rem;
                        }
                    }
                }

                &.job-detail {
                    @include transform(translateX(-100%));
                }
            }

            &-entries {
                padding: 1.5rem;

                &-no-entries {
                    padding: 16rem 1.5rem;
                    max-width: 500px;
                    text-align: center;
                    margin: 0 auto;

                    &-icon {
                        svg {
                            color: #777;
                            height: 40px;
                            width: auto;
                        }
                    }
                    
                    &-title {
                        font-size: 2rem;
                        font-weight: bold;
                        color: #777;
                        font-family: Lato, sans-serif;
                        margin-top: 1.5rem;
                    }

                    &-description {
                        font-size: 2rem;
                        font-weight: 400;
                        color: #777;
                        font-family: Lato, sans-serif;
                    }

                    &-button {
                        margin-top: 1.5rem;
                    }
                }

                >*:not(:first-child) {
                    margin-top: 1.5rem;
                }
            }
        }
    }

    .wizard {
        padding-bottom: 10px;

        &-top {
            position: relative;
        }

        &-content {
            padding: 0!important;
            border-radius: 0 0 12px 12px;
        }
    }

    .breadcrumbs {
        @include grid;
        @include transform(none);
    }

    .footer {
        margin-top: 10rem;
    }
}