@import "../../shared/mixins.scss";

.vca-check {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    background: #00454f;
    border-radius: 50%;
    margin-left: 5px;

    @include box-shadow(0 2px 2px rgba(black, 0.2));

    svg {
        position: absolute;
        height: 12.5px;
        width: auto;
        top: 50%;
        left: 50%;
        color: #f7f7f7;

        @include transform(translate(-50%, -50%));
    }
}