@import "../../../../shared/mixins.scss";

.navigation-menu-mobile {
    @include pc {
        display: none;
    }

    position: fixed;
    background: #4056a1;
    left: 0;
    top: 80px;
    height: 100%;
    height: calc(100% - 80px);
    max-height: 100%;
    max-height: calc(100% - 80px);
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    pointer-events: all;
    -webkit-overflow-scrolling: touch;
    z-index: 1;

    &-main-menu, &-menu {
        padding-bottom: 20px;
        height: 100%;
        height: 100%;
        max-height: 100%;
        max-height: 100%;
    }

    &-main-menu {
        background: #4056a1;
    }

    &-main-menu, &-menu {
        &-top {
            padding: 0 20px;
            padding-top: 10px;
    
            .button {
                width: 100%;
                height: 60px;
            }
        }
    
        &-hr {
            width: 50%;
            height: 6px;
            background: #F7F7F7;
            margin: 0 auto;
            margin-top: 30px;
        }
    
        &-buttons {
            margin-top: 30px;
            padding-bottom: 30px;
        }
    }

    &-menu {
        background: #fff;

        &-modal-content {
            width: 100%;
            padding: 0 10px;
            padding-bottom: 30px;
            position: relative;

            >* {
                width: 100%!important;
                box-sizing: border-box;
            }
        }
    }
    
    &.is-menu-open, &.is-menu-closed {
        @include transition(all 0.5s ease-in-out);
    }

    &.is-menu-open {
        @include transform(translateY(0));
    }
    
    &:not(.is-menu-open) {
        position: fixed;
        @include transform(translateY(150%));
    }

    &.iphonex-pwa {
        .navigation-menu-mobile {
            &-menu, &-main-menu {
                border-bottom: 35px solid transparent;
            }
        }
    }
}