@import "../../shared/mixins.scss";

.picture {
    overflow: hidden;

    &-inner {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;

        &-image {
            position: absolute;
            top: 50%;
            left: 50%;

            width: auto;

            @include user-select(none);
        }

        &-no-image {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;

            @include user-select(none);
            @include transform(translate(-50%, -50%));

            &-icon {
                color: #777;
                
                svg {
                    height: 34px;
                    width: auto;
                }
            }
    
            &-label {
                margin-top: 15px;

                font-family: Lato, sans-serif;
                color: #777;
                font-weight: bold;
                font-size: 2rem;
            }
        }
    }
}