@import "../../shared/mixins.scss";

.profile-picture {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;

    @include box-shadow(0 2px 10px rgba(#777, 0.2));

    .picture {
        overflow: hidden;
        border-radius: 50%;
    
        &-inner {
            overflow: hidden;
            border-radius: 50%;

            &-image {
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }

    &-no-picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #d8d8d8;

        svg {
            color: #f7f7f7;
            position: absolute;
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;

            @include transform(translate(-50%, -50%));
        }
    }

    &-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#777, 0.8);
        opacity: 1;
        border-radius: 50%;
        overflow: hidden;

        @include transition(all 0.3s ease-in-out);

        svg {
            color: #f7f7f7;
            position: absolute;
            width: 25%;
            height: 25%;
            top: 50%;
            left: 50%;

            @include transform(translate(-50%, -50%));
        }
    }

    &:not(:hover) {
        .profile-picture-hover {
            opacity: 0;
        }
    }

    &:hover.hoverable {
        cursor: pointer;
    }
}