@import "../../shared/mixins.scss";

.logo {
    @include user-select(none);

    &-image, &-label {
        display: inline-block;
        vertical-align: middle;
    }
    
    &-image {
        img {
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            @include box-shadow(-3px 0 2px rgba(0, 0, 0, 0.2));
        }
    }

    &-label {
        @include mobile {
            font-size: 4rem;
        }

        @include pc {
            font-size: 5rem;
        }

        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 1px;
        text-shadow: 0 2px 2px rgba(black, 0.2);
    }
}