@import "../../../shared/mixins.scss";

.quality-checks {
    background: #f7f7f7;

    &-grid {
        @include grid;

        @include pc {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @include mobile {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &-quality-check {
            @include pc {
                display: inline-block;
                vertical-align: top;
                width: (100%/3);

                &:first-child {
                    padding-right: 20px;
                }
    
                &:nth-child(2) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
    
                &:nth-child(3) {
                    padding-left: 20px;
                }
            }

            @include mobile {
                &:not(:first-child) {
                    padding-top: 20px;
                }
            }

            &-checkmark, &-label {
                display: table-cell;
                vertical-align: top;
                box-sizing: border-box;
            }

            &-checkmark {
                svg {
                    color: #F13C20;
                }
            }

            &-label {
                padding-left: 15px;
                font-size: 2rem;
                color: #303C6C;
                font-weight: 400;
            }
        }
    }
}