@import "../../../shared/mixins.scss";

.form-slider {
    &-top {
        &-label, &-value {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
            font-weight: bold;
            font-family: Lato, sans-serif;
            font-size: 1.6rem;
            color: #f7f7f7;
        }

        &-label {
            text-align: left;
        }

        &-value {
            text-align: right;
        }
    }

    &-slider {
        padding-top: 30px;
        padding-bottom: 20px;

        &-bar {
            position: relative;
            background: #f7f7f7;
            height: 10px;
            border-radius: 2px;

            @include box-shadow(0 2px 10px rgba(#777, 0.2));

            &-progress {
                position: absolute;
                top: 0;
                left: 0;
                background: #f13c20;
                height: 100%;

                @include box-shadow(0 2px 10px rgba(#f13c20, 0.2));
            }

            &-handle {
                position: absolute;
                top: 50%;
                height: 20px;
                width: 20px;
                background: #fff;
                border-radius: 50%;
                -webkit-overflow-scrolling: touch;
                
                @include transform(translate(-50%, -50%));
                @include box-shadow(0 2px 2px rgba(#777, 0.2));

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}