@import "../../../shared/mixins.scss";

.facebook-button {
    .button {
        background: #4367B2!important;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            height: 50%;
            height: 30%;
            color: #f7f7f7;

            @include transform(translate(-50%, -50%));
        }

        &.size-small {
            width: 44px;
        }

        &.size-regular {
            width: 44px;
        }
    }
}