@import "../../shared/mixins.scss";

.step {
    padding: 15px 20px;
    background: white;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    align-items: stretch;
    height: 100%;

    @include box-shadow(0 2px 5px rgba(#777, 0.2));

    &-table {
        display: table;
        width: 100%;
   
        &-left, &-right {
            display: table-cell;
            vertical-align: top;
            height: 100%;
        }
    
        &-left {
            width: 32px;
        }

        &-right {
            width: auto;
            color: #303C6C;
            font-size: 2rem;
            font-weight: 700;
            line-height: 22px;
        }
    }

    &-content {
        padding: 2.8rem 0;
        padding-left: 32px;
        font-family: Lato, sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 400;
        max-width: 270px;
        color: #777;

        a, a:active, a:visited, a:focus {
            color: #303C6C;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        b {
            display: block;
            font-weight: bold;

            &:not(:first-child) {
                margin-top: 22px;
            }
        }
    }
}