@import "../../shared/mixins.scss";

body.firefox {
    #navigation {
        &-default {
            &-top {
                @include mobile {
                    position: absolute;
                    width: 100vw;
                    width: calc(var(--vw, 1vw) * 100);
                    height: 80px;
                }
            }
        }
    }
}

#navigation {
    position: relative;
    z-index: 2;

    &-default {
        @include pc {
            @include box-shadow(0 5px 20px rgba(#4056A1, 0.5));
        }

        @include mobile {
            position: fixed;
            top: 0;
            left: 0;
        }

        position: relative;
        z-index: 2;

        &-top {
            @include pc {
                padding: 50px 0;
                background: white;
            }

            @include mobile {
                padding: 20px 0;
                background: #4056a1;
                z-index: 300000;
                
                @include transition(background 0.5s ease-in-out);

                .logo-label {
                    @include transition(color 0.3s ease-in-out);
                }

                &:not(.open) {
                    background: #4056a1;
                    @include box-shadow(0 5px 20px rgba(#4056A1, 0.5));

                    .logo-label {
                        color: white!important;
                    }
                }

                &.open {
                    @include box-shadow(0 5px 20px rgba(white, 0.5));
                    background: white;
                }
            }
            
            &-content {
                @include grid;
                
                &-left, &-right-pc, &-right-mobile {
                    display: table-cell;
                    vertical-align: middle;
                }

                &-left {
                    width: auto;
                }

                &-right {
                    @include pc {
                        &-mobile {
                            display: none;
                        }

                        &-pc {
                            width: 1%;
                        }
                    }

                    @include mobile {
                        &-pc {
                            display: none;
                        }

                        &-mobile {
                            width: 1%;
                        }
                    }
                }
            }
        }
        &-bottom {
            @include mobile {
                display: none;
            }

            background: #4056A1;
            height: 80px;

            &-content {
                @include grid;
            }
        }
    }

    &-inbox {
        position: relative;
        padding: 3rem 0;
        width: 100%;
        background: #4056a1;

        @include box-shadow(0 2px 10px rgba(#4056a1, 0.3));

        &-left {
            @include pc {
                left: 3rem;
                top: 50%;

                @include transform(translateY(-50%));
            }

            @include mobile {
                right: 6rem;
                top: 3.75rem;

                &.badge-hidden {
                    right: 3rem;
                }
            }
            
            position: absolute;
            
            &-label {
                position: relative;
                font-size: 4rem;
                font-family: Lato, sans-serif;
                color: #f7f7f7;
                text-shadow: 0 2px 2px rgba(#777, 0.3);

                .badge {
                    position: absolute;
                    right: 0;
                    top: 0;

                    @include transform(translateX(100%));
                }
            }
        }

        &-center {
            @include pc {
                text-align: center;
            }

            @include mobile {
                text-align: left;
                padding-left: 3rem;
            }
        }

        &-right {
            @include pc {
                position: absolute;
                top: 50%;
                right: 3rem;

                @include transform(translateY(-50%));
            }

            @include mobile {
                padding: 3rem;
                padding-bottom: 0;

                .button {
                    width: 100%;
                }
            }
        }
    }
}
.navigation-container {
    @include mobile {
        &.hidden {
            position: fixed;
            width: 100%;
            display: none;
        }
    }
}