@import "./mixins.scss";

// Default styling for all elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

// Default styling for buttons
button {
    background: none;
    border: none;
}

// Default styling for html, body
html, body {
    @include mobile {
        font-size: 6px;
    }

    @include pc {
        font-size: 9px;
    }
    
    font-family: Roboto, sans-serif;

    >* {
        overflow-x: hidden;
    }

    // Set the default height to 100% so relative children can use these values
    width: 100%;
    height: 100%;

    background: #4056a1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5.2rem;
    line-height: 6.2rem;
}

h2 {
    font-size: 3rem;
    line-height: 3.6rem;
}

// Remove outline for buttons
button {
    &:focus {
        outline: 0;
    }
}

// Makes sure SVG's fill in the color of their `color` attribute
svg.icon {
    fill: currentColor!important;

    * {
        &[fill] {
            &:not([fill="none"]) {
                fill: currentColor!important;
            }
        }

        &[stroke] {
            &:not([stroke="none"]) {
                stroke: currentColor!important;
            }
        }
    }
}