@import "../../../../../shared/mixins.scss";

.inbox-content-company-profile {
    @include pc {
        background: rgba(#4056a1, 0.95);
    }

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background:#4056a1;

    &-top {
        @include pc {
            height: 120px;
        }

        @include mobile {
            height: 100px;
        }

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 10px solid transparent;
        display: table;
        border-collapse: collapse;
        table-layout: auto;
        width: 100%;
        background:#4056a1;

        &-left, &-right {
            display: table-cell;
            vertical-align: top;
        }

        &-left {
            width: auto;

            &-return-to-chat, &-settings {
                @include pc {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            &-settings {
                @include pc {
                    padding-top: 2px;
                    padding-left: 10px;
                }

                @include mobile {
                    padding-top: 5px;
                }
            }
        }

        &-right {
            width: auto;
            text-align: right;

            &-company, &-profile-picture {
                display: inline-block;
                vertical-align: top;
            }

            &-company {
                padding-right: 10px;

                &-name, &-address, &-rating {
                    font-family: Lato, sans-serif;
                    color: #f7f7f7;
                }

                &-name {
                    font-size: 2rem;
                }

                &-address {
                    font-size: 1.6rem;
                    font-weight: 300;
                }

                &-rating {
                    padding-top: 10px;

                    &-bottom {
                        font-size: 1.2rem;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    &-tabs {
        @include pc {
            top: 120px;
        }

        @include mobile {
            top: 100px;
        }

        position: absolute;
        left: 0;
    }

    &-content {
        @include mobile {
            height: 100%;
            height: calc(100% - 149px);
            max-height: 100%;
            max-height: calc(100% - 149px);
            top: 149px;
            -webkit-overflow-scrolling: touch;
        }

        @include pc {
            height: 100%;
            height: calc(100% - 193px);
            max-height: 100%;
            max-height: calc(100% - 193px);
            top: 193px;
        }

        position: absolute;
        left: 0;
        width: 100%;
        overflow-y: auto;

        &-company-details {
            padding: 30px;

            &-entry {
                font-family: Lato, sans-serif;
                color: #f7f7f7;
                word-break: break-all;

                &-key {
                    font-weight: bold;
                    font-size: 1.8rem;
                }

                &-value {
                    font-size: 1.8rem;
                    font-weight: 300;
                }

                &:not(:first-child) {
                    margin-top: 30px;
                }
            }
        }

        &-portfolio {
            padding: 30px;
            text-align: center;

            &-image {
                &-container {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 15px;
                    margin-left: 15px;
                    
                    @include transform(translate(-15px, -15px));

                    &-image {
                        border-radius: 6px;
                        overflow: hidden;
                        background: white;
        
                        @include transform(none);
                        @include box-shadow(0 2px 2px rgba(#333, 0.2));
                        @include transition(all 0.3s ease-in-out);
        
                        &:hover {
                            cursor: pointer;

                            @include transform(translate(2px, -2px));
                            @include box-shadow(0 4px 4px rgba(#333, 0.15));
                        }
                    }
                }
            }
        }

        &-reviews {

            padding: 30px;
            padding-bottom: 100px;

            &-no-reviews {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 500px;
                min-width: 250px;
                padding: 30px;
                color: #f7f7f7;
                text-align: center;

                @include transform(translate(-50%, -50%));

                &-icon {
                    svg {
                        color: #f7f7f7;
                        height: 40px;
                        width: auto;
                    }
                }

                &-title {
                    font-size: 2rem;
                    font-weight: bold;
                }

                &-description {
                    font-size: 1.8rem;
                }

                &-rating {
                    margin-top: 15px;
                }
            }

            &-review {
                background: white;
                padding: 15px;
                
                font-family: Lato, sans-serif;
                font-weight: 400;
                font-size: 1.6rem;

                border-radius: 6px;
                
                &-top {
                    display: table;
                    table-layout: auto;
                    border-collapse: collapse;
                    width: 100%;
                }

                &-left, &-right {
                    @include pc {
                        display: table-cell;
                        vertical-align: top;
                    }
                }

                &-left {
                    width: auto;
                    padding-right: 15px;

                    &-title {
                        color: #4056a1;
                        font-weight: bold;
                    }

                    &-rating {
                        margin-top: 10px;
                    }

                    &-job-category {
                        margin-top: 10px;
                        font-weight: 300;
                    }

                    &-meta {
                        padding-top: 15px;

                        &-entry {
                            &-key, &-value {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            
                            &-key {
                                width: 24px;

                                svg {
                                    color: #f13c20;
                                    height: 24px;
                                    width: auto;
                                }
                            }

                            &-value {
                                font-weight: bold;
                                padding-left: 10px;
                                color: #303c6c;
                            }

                            &:not(:first-child) {
                                margin-top: 5px;
                            }
                        }
                    }
                }

                &-right {
                    width: 150px;

                    &-picture {
                        @include mobile {
                            display: none;
                        }
                        
                        border-radius: 6px;

                        @include box-shadow(0 2px 5px rgba(#777, 0.2));
                    }
                }

                &-description {
                    font-weight: 300;
                    font-size: 1.8rem;
                    margin-top: 15px;
                    color: #303c6c;

                    &:before {
                        content: open-quote;
                    }
    
                    &:after {
                        content: close-quote;
                    }
                }

                &:not(:first-child) {
                    margin-top: 30px;
                }
            }
        }
    }

    &-gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: -moz-linear-gradient(top, rgba(#4056a1, 0) 0%, rgba(#4056a1, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(#4056a1, 0) 0%,rgba(#4056a1, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(#4056a1, 0) 0%,rgba(#4056a1, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004056a1', endColorstr='#4056a1',GradientType=0 ); /* IE6-9 */
    }
}