@import "../../shared/mixins.scss";

.anonymous-review {
    @include pc {
        display: inline-block;
        vertical-align: top;
        width: 50%;

        &:first-child {
            padding-right: 30px;
        }
    
        &:last-child {
            padding-left: 30px;
        }
    }

    @include mobile {
        &:not(:first-child) {
            padding-top: 30px;
        }
    }

    box-sizing: border-box;
    
    &-content {
        background: white;
        border-radius: 6px;
        padding: 30px;

        @include box-shadow(0 2px 5px rgba(#777, 0.2));

        &-title {
            font-family: Lato, sans-serif;
            font-weight: bold;
            font-size: 2rem;
            color: #303C6C;
        }
    
        &-rating-category {
            padding-top: 2rem;
    
            &-rating, &-category {
                display: inline-block;
                vertical-align: middle;
            }
    
            &-rating {
                @include mobile {
                    width: 100%;
                }

                @include pc {
                    width: 150px;
                }
            }
            
            &-category {
                @include pc {
                    padding-left: 2rem;
                }

                @include mobile {
                    padding-top: 2rem;
                }

                font-family: Lato, sans-serif;
                font-weight: 300;
                color: #303C6C;
                font-size: 2rem;
            }
        }

        &-picture-description {
            margin-top: 2rem;

            &-picture-container, &-description {
                display: table-cell;
                vertical-align: top;
            }

            &-picture-container {
                @include pc {
                    width: 150px;
                    height: 150px;
                }

                @include mobile {
                    max-width: 100px;
                    max-height: 100px;

                    .picture {
                        width: 100px!important;
                        height: 100px!important;
                    }
                    .picture-inner {
                        width: 100px!important;
                        height: 100px!important;
                    }
                }

                position: relative;
                border-radius: 6px;
                margin-top: 20px;

                @include box-shadow(0 2px 5px rgba(#777, 0.2));
            }

            &-description {
                padding-left: 2rem;
                width: auto;
                color: #303C6C;
                font-family: Lato, sans-serif;
                font-size: 2rem;
                font-weight: 500;

                &:before {
                    content: open-quote;
                }

                &:after {
                    content: close-quote;
                }
            }
        }
    }
}