@import "../../shared/mixins.scss";

.collapse {
    background: #f7f7f7;
    padding: 2.3rem 3rem;
    border-radius: 6px;

    @include box-shadow(0 2px 2px rgba(#333, 0.2));

    &-top {
        display: table;
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;

        &-left, &-right {
            display: table-cell;
            vertical-align: middle;
        }

        &-left {
            width: auto;

            &-title {
                font-size: 2rem;
                line-height: 2.4rem;
                color: #303c6c;
                font-weight: bold;
                font-family: Lato, sans-serif;
            }

            &-description {
                color: #777;
                font-size: 1.6rem;
                font-weight: 400;
                font-family: Lato, sans-serif;
            }
        }

        &-right {
            width: 1%;
        }
    }

    &-menu {
        overflow: hidden;

        &-content {
            padding-top: 2.3rem;
            padding-bottom: 0.7rem;

            &-hr {
                background: white;
                height: 4px;
                max-width: 384px;
            }

            .form-group {
                margin-top: 3rem;
            }

            >*:not(.form-group) {
                margin-top: 3rem;
            }
        }

        .inline {
            margin-top: 0;
        }
    }
}