@import "../../shared/mixins.scss";

$modalColor: #fff;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out, top 1ms;
    z-index: 1000;
    
    &-background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &-content {
        @include mobile {
            &:not(.non-absolute) {
                top: 50%!important;
                left: 0!important;
                width: 100%;
            }
            @include transition(none);
        }
        
        @include pc {
            border-radius: 12px;
            @include transition(all 0.3s ease-in-out);
        }

        &:not(.non-absolute) {
            position: absolute;
        }

        &.non-absolute {
            position: relative;
        }

        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background: $modalColor;
        z-index: 20;
    
        >* >* {
            &:not(.no-padding) {
                padding: 1.6rem;
            }
        }

        p {
            padding: 1.6rem;
            padding-bottom: 0;

            a {
                color: #f13c20!important;
                display: inline-block!important;
                line-height: 1.8rem!important;
                font-size: 1.6rem!important;
                vertical-align: middle!important;
                font-weight: bold;
            }
        }

        &-title {
            color: #777;
            font-size: 12px;
            font-family: Lato, sans-serif;
            font-weight: 400;
            text-align: right;
        }

        &-hr {
            margin: 1.6rem 0;
            width: 50%;
            height: 4px;
            background: #e6e6e6;

            &.left {
                margin-right: auto;
            }

            &.center {
                margin-left: auto;
                margin-right: auto;
            }

            &.right {
                margin-left: auto;
            }

            &.w25 {
                width: 25%;
            }

            &.w50 {
                width: 50%;
            }

            &.w75 {
                width: 75%;
            }

            &.w100 {
                width: 100%;
            }
        }

        &-vr {
            width: 2px;
            height: 44px;
            margin: auto 1.6rem;
            background: #E6E6E6;
        }

        &-content {
            position: relative;
            margin-top: 16px;
            width: 100%;
            color: #777;
            font-size: 1.6rem;
            font-family: Lato, sans-serif;
            text-align: center;

            >svg {
                color: #F13C20;
                height: 63px;
                width: 63px;                
            }

            >.form-input {
                &:not(:first-child) {
                    margin-top: 16px;
                }
            }

            &-left, &-right {
                width: 50%;
                display: inline-block;
                vertical-align: middle;
            }

            &-left {
                text-align: left;
                padding-right: 0.8rem;
            }

            &-center {
                text-align: center;
            }

            &-right {
                float: right;
                text-align: right;
                padding-left: 0.8rem;
            }

            &.right {
                text-align: right;
            }

            &-inline {
                >span {
                    color: #777;
                    font-size: 1.2rem;
                    font-family: Lato, sans-serif;
                    font-weight: 300;
                }
                >*:not(span) {
                    display: inline-block;
                    vertical-align: middle;

                    &:not(:first-child) {
                        border-left: 1.6rem solid $modalColor;
                    }
                }
            }

            a:not(.button), a:not(.button):active, a:not(.button):visited, a:not(.button):focus, button:not(.button), button:active:not(.button), button:focus:not(.button) {
                font-family: Lato, sans-serif;
                font-size: 1.4rem;
                text-decoration: none;
                color: #777;
                outline: none;
                display: table-cell;
                vertical-align: middle;
                line-height: 1.4rem;
                height: 2rem;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        &.centered {
            @include pc {
                top: 50%!important;
                left: 50%!important;
                @include transform(translate(-50%, -50%));
                @include transition(opacity 0.3s ease-in-out);
            }
        }
    }

    &.visible {
        opacity: 1;

        @include mobile {
            .modal-content {
                @include transform(translate(0, -50%)!important);
            }
        }

        @include pc {
            .modal-content {           
                &:not(.centered) {
                    &.right {
                        @include transform(translateX(-100%));
                    }
        
                    &:not(.right) {
                        @include transform(translateX(0));
                    }
                }
            }
        }
    }

    &:not(.visible) {
        opacity: 0;
        pointer-events: none;

        @include mobile {
            .modal-content {
                @include transform(translate(100vw, -50%)!important);
                @include transform(translate(calc(var(--vw, 1vw) * 100), -50%)!important);
            }
        }

        @include pc {
            .modal-content {
                @include transform(translateX(100vw));
                @include transform(translateX(calc(var(--vw, 1vw) * 100)));
            }
        }
    }

    &.dismissable {
        .modal-background-overlay {
            background: rgba(#f7f7f7, 0.75);
        }

        .modal-content {
            @include box-shadow(0 2px 30px rgba(#333, 0.1));
        }
    }

    &:not(.dismissable) {
        .modal-background-overlay {
            background: rgba(#333, 0.75);
        }

        .modal-content {
            @include box-shadow(0 2px 30px rgba(#F7F7F7, 0.1));
        }
    }

    &.pc-only {
        @include mobile {
            display: none;
        }
    }

    .light {
        font-weight: 300;
    }

    .medium {
        font-weight: 500;
    }

    .bold {
        font-weight: bold;
    }

    span {
        &:not(:first-child) {
            margin-left: 3px;
        }
    }
}