@import "../../../../../../../shared/mixins.scss";

.inbox-content-roof-specialist-pending {
    @include mobile {
        background: #4056a1;
        -webkit-overflow-scrolling: touch;
    }

    @include pc {
        background: rgba(#4056a1, 0.95);
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    color: #f7f7f7;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    overflow: auto;

    &-return-to-inbox {
        @include pc {
            display: none;
        }

        position: absolute;
        left: 3rem;
        top: 3rem;
        text-align: left;
        z-index: 2;
    }

    &-container {
        @include mobile {
            padding: 100px 0;
            padding-bottom: 200px;
        }

        position: absolute;
        top: 50%;
        left: 50%;

        max-height: 100%;

        @include transform(translate(-50%, -50%));
    }

    &-icon {
        text-align: center;

        svg {
            height: 6rem;
            width: auto;
            color: #f7f7f7;
        }
    }

    &-button {
        margin-top: 15px;
    }

    &-hr {
        height: 4px;
        width: 100px;
        background: #f7f7f7;

        margin: 0 auto;
        margin-top: 15px;
    }

    &-title {
        margin-top: 15px;
        font-size: 2rem;
        font-weight: bold;
    }

    &-description {
        margin-top: 15px;
        font-size: 1.6rem;
        font-weight: 300;
    }

    &-buttons {
        margin: 0 auto;
        margin-top: 15px;
        padding-bottom: 30px;
    }

    >* {
        margin-left: auto;
        margin-right: auto;
        min-width: 300px;
        max-width: 500px;
    }
}