@import "../../../../../shared/mixins.scss";

.profile-roof-specialist-portfolio {
    &-images {
        &-label, &-description {
            max-width: 700px;
        }

        &-label {
            color: #303c6c;
            font-size: 2.4rem;
            line-height: 2.9rem;
            font-weight: bold;
            font-family: Lato, sans-serif;
        }

        &-description {
            margin-top: 1rem;
            color: #777;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Lato, sans-serif;
        }

        &-entries {
            @include mobile {
                text-align: center;
            }
    
            margin-top: 6rem;
            
            @include transform(translate(-30px, -30px));
        }
    }
}