@import "../../../../shared/mixins.scss";

.change-image-background-style-modal {
    padding: 0!important;

    @include pc {
        width: 400px;
    }

    .padding {
        margin: 0;
        padding: 1.6rem;
    }
}