@import "../../../shared/mixins.scss";

.form-group {
    >* {
        text-align: left;

        a, a:active, a:visited, a:focus {
            color: #f13c20;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    &-label {
        &-label, &-error {
            display: inline-block;
            vertical-align: middle;
        }

        &-label {
            font-family: Lato, sans-serif;
            font-size: 1.8rem;
            font-weight: bold;
            color: #303C6C;

            &.error {
                color: #f13c20;
            }
        }

        &-error {
            margin-left: 5px;

            svg {
                color: #f13c20;
                height: 18px;
                width: 18px;
            }
        }
    }

    &-helper-text {
        font-weight: 300;
        font-size: 1.8rem;
        color: #777;
        font-family: Lato, sans-serif;

        &.error {
            color: #f13c20;
        }
    }

    &-element {
        margin-top: 10px;
    }

    &-string-length-indicator {
        margin-top: 10px;

        &.error {
            color: #f13c20;
        }
    }
}