@import "../../../../../../../shared/mixins.scss";

.inbox-content-chat-message {
    width: 80%;
    padding-bottom: 10px;

    &-date {
        margin-top: 10px;
        color: #777;
        font-weight: 300;
        font-size: 1.6rem;
    } 

    &-message {
        margin-top: 10px;
        background: white;
        padding: 10px;
        border-radius: 6px;
        color: #303c6c;
        font-size: 1.8rem;
        word-break: break-all;

        @include box-shadow(2px 2px 6px rgba(#777, 0.2));
    }

    &.right {
        margin-left: auto;

        .inbox-content-chat-message {
            &-date, &-message {
                margin-right: 10px;
            }

            &-date {
                text-align: right;
            }
        }
    }

    &:not(.right) {
        .inbox-content-chat-message {
            &-date, &-message {
                margin-left: 10px;
            }
        }
    }
}