@import "../../../shared/mixins.scss";

.form-input {
    @include mobile {
        border-radius: 8px;
        border: 2px solid white;
        overflow: hidden;
        @include box-shadow(0 2px 2px rgba(#777, 0.3));

        &:not(.disabled) {
            &.focused {
                border-color: #303c6c;
            }
        }

        &.disabled {
            border-color: #bbb;

            input {
                border-color: #bbb!important;
                background: #bbb!important;
                color: #555!important;
            }
        }

        &.type-filter {
            border: 2px solid #e6e6e6;
            border-radius: 18px;
            @include box-shadow(0 2px 2px rgba(#777, 0.3));
        }

        input, text-area {
            border-radius: 0!important;
        }
    }

    textarea {
        height: auto;
        resize: vertical;
        min-height: 83px;
    }

    input {
        height: 44px;
    }

    input, textarea {
        @include mobile {
            @include box-shadow(none);
            border: none;
        }

        @include pc {
            @include box-shadow(0 2px 2px rgba(#777, 0.3));
            border-radius: 8px;

            &[disabled] {
                opacity: 0.5;
            }
        }

        padding: 11px 16px;
        box-sizing: border-box;
        font-size: 1.8rem;
        font-family: Lato, sans-serif;
        font-weight: 400;
        background: white;
        border: 2px solid white;
        width: 100%;
        @include transition(all .3s ease-in-out resize 1ms);
        
        &[disabled] {
            background: #777;
            border-color: #777;
            color: black;

            @include placeholder {
                color: black;
            }
        }
        
        &:not([disabled]) {
            color: #303c6c;

            @include placeholder {
                color: #777;
            }
        }

        &:focus {
            outline: none;
            border-color: #303c6c;
        }
    }

    &.type-filter {
        position: relative;

        input, text-area {
            @include pc {
                border-color: #e6e6e6;
                border-radius: 18px;
            }
            
            background: #e6e6e6;
            padding-right: 48px;
            height: 36px;

            &:focus {
                outline: none;
                border-color: #303c6c;
            }
        }

        .form-input-search-icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 100%;
            border-radius: 12px;
            z-index: 1;
            pointer-events: all;

            @include transition(background 0.3s ease-in-out);

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 20px;
                color: #777;

                @include transform(translate(-50%, -50%) scaleX(-1));
                @include transition(color 0.3 ease-in-out);
            }
        }

        &.filter-icon-hover {
            .form-input {
                &-search-icon {
                    &:hover {
                        cursor: pointer;

                        background: #f13c20;
                    
                        svg {
                            color: #f7f7f7;
                        }
                    }
                }
            }
        }
    }
}