@import "../../../../shared/mixins.scss";

.page-section-title {
    font-size: 4rem;
    text-shadow: none;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: #303C6C;
    text-align: center;
}