@import "../../shared/mixins.scss";

.settings-button {
    &-button {
        position: relative;
    
        border-radius: 4px;
    
        background: white;
        width: 40px;
        height: 40px;
        
        @include box-shadow(0 2px 2px rgba(black, 0.1));
        @include transform(translate(0, 0));
        @include user-select(none);
        @include transition(all 0.3s ease-in-out);
    
        &-content {
            position: absolute;
            top: 50%;
            left: 50%;
    
            @include transform(translate(-50%, -50%));

            svg {
                color: #303c6c;
            }
        }
    
        &.active {
            background: #f13c20;
    
            .settings-button {
                &-button {
                    &-content {
                        color: #f7f7f7;
                    }
                }
            }
        }
    
        &[disabled], &.disabled {
            opacity: 0.5;
    
            &:hover {
                cursor: not-allowed;
            }
        }
    
        &:hover:not(.clicked):not(.disabled):not([disabled]):not(.active) {
            cursor: pointer;
            @include box-shadow(0 4px 4px rgba(black, 0.15));
            @include transform(translate(1px, -1px));
        }
    }
}