@import "../../shared/mixins.scss";

.image-cropper {
    &-image-container {
        position: relative;
        height: 400px;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;

        &-background {
            position: absolute;
            top: 150px;
            left: 50%;

            width: auto;

            @include user-select(none);
        }

        &-grid {
            position: absolute;
            top: 150px;
            left: 50%;

            height: 200px;
            width: 200px;

            border: 4px solid rgba(#bbb, 0.25);
            border-radius: 50%;

            box-sizing: border-box;

            @include transform(translate(-50%, -50%));

            >* {
                position: absolute;
                background: rgba(#bbb, 0.25);
            }

            &-vertical {
                &-left {
                    top: 2.5%;
                    left: 33.34%;
                    width: 1%;
                    height: 95%;

                    @include transform(translateX(-50%));
                }

                &-right {
                    top: 2.5%;
                    left: 66.67%;
                    width: 1%;
                    height: 95%;

                    @include transform(translateX(-50%));
                }
            }

            &-horizontal {
                &-top {
                    left: 2.5%;
                    top: 33.34%;
                    height: 1%;
                    width: 95%;

                    @include transform(translateY(-50%));
                }

                &-bottom {
                    left: 2.5%;
                    top: 66.67%;
                    height: 1%;
                    width: 95%;

                    @include transform(translateY(-50%));
                }
            }
        }

        &-settings {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(#777, 0.8);
            padding: 16px;
            
            @include user-select(none);

            &-title {
                color: #f7f7f7;
                font-family: Lato, sans-serif;
                font-size: 1.6rem;
                font-weight: 300;
            }

            &-slider {
                margin-top: 10px;
            }

            &:hover {
                cursor: default;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}