@import "../../../../../shared/mixins.scss";

.profile-roof-specialist-payment-details {
    &-content {
        >* {
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
}