@import "../../../shared/mixins.scss";

.form-select-menu {
    @include pc {
        width: 480px;
    }

    padding-top: 0!important;

    &-top {
        display: table;
        table-layout: auto;
        width: 100%;
        border-collapse: collapse;

        &-left, &-right {
            display: table-cell;
            vertical-align: middle;

            .button {
                margin-left: 1.5rem;
                height: 40px;
                line-height: 40px;
            }
        }

        &-left {
            width: auto;
        }

        &-right {
            width: auto;
            text-align: right;

            .button {
                display: table-cell;
                vertical-align: middle;

                &:not(:first-child) {
                    margin-left: 1.5rem;
                }
            }
        }
    }

    &-content {
        position: relative;
        text-align: left;

        &-options {
            padding: 30px 0;
            height: 200px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            @include hide-scrollbars;

            .form-checkbox {
                &:not(:first-child) {
                    margin-top: 16px;
                }
            }
        }

        &-gradient {
            &-top, &-bottom {
                position: absolute;
                height: 30px;
                width: 100%;
            }

            &-top {
                top: 0;
                left: 0;
                background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
            }

            &-bottom {
                bottom: 0;
                left: 0;
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            }
        }
    }
}