@import "../../../shared/mixins.scss";

#how-does-it-work-page {
    &-container {
        position: relative;
        background: #f7f7f7;
        height: 70rem;
        width: 100%;

        &-actors {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;

            @include transform(translate(-50%, -50%));

            h1 {
                font-family: Lato, sans-serif;
                font-size: 4rem;
                font-weight: bold;
                text-shadow: none;
                color: #303c6c;
            }

            &-options {
                margin-top: 6rem;

                .button {
                    display: block;
                    margin: 0;
                    width: 300px;

                    &:not(:first-child) {
                        margin-top: 2rem;
                    }
                }
            }
        }

        >.cube {
            >* {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        >.breadcrumbs {
            position: absolute;
            left: 10px;
            top: 5px;
            pointer-events: all;
            z-index: 1;

            * {
                color: #303c6c;
            }

            @include transform(none);
        }
    }

    &.white-breadcrumbs {
        >#how-does-it-work-page-container {
            >.breadcrumbs {
                * {
                    color: #f7f7f7;
                }
            }
        }
    }
}