@import "../../../../shared/mixins.scss";

// The amount of ms the animation takes
$animationTime: 500ms;

// The keyframes for the opening animation
@include keyframes(toggle-navigation-button-bar-1) {
    0% {
        left: 0;
        top: 0;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
    50% {
        left: 0;
        top: 6px;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
    100% {
        left: 10px;
        top: 0;
        height: 100%;
        width: 3px;
        transform: rotate(45deg);
    }
}
@include keyframes(toggle-navigation-button-bar-2) {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        left: 0;
        top: 6px;
    }
    100% {
        opacity: 0;
    }
}
@include keyframes(toggle-navigation-button-bar-3) {
    0% {
        left: 0;
        top: 12px;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
    50% {
        left: 0;
        top: 6px;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
    100% {
        left: 10px;
        top: 0;
        height: 100%;
        width: 3px;
        transform: rotate(-45deg);
    }
}
@include keyframes(toggle-navigation-button-bar-1-reversed) {
    0% {
        left: 10px;
        top: 0;
        height: 100%;
        width: 3px;
        transform: rotate(45deg);
    }
    50% {
        left: 0;
        top: 6px;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
    100% {
        left: 0;
        top: 0;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
}
@include keyframes(toggle-navigation-button-bar-2-reversed) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        left: 0;
        top: 6px;
    }
    100% {
        opacity: 1;
    }
}
@include keyframes(toggle-navigation-button-bar-3-reversed) {
    0% {
        left: 10px;
        top: 0;
        height: 100%;
        width: 3px;
        transform: rotate(-45deg);
    }
    50% {
        left: 0;
        top: 6px;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
    100% {
        left: 0;
        top: 12px;
        height: 3px;
        width: 100%;
        transform: rotate(0deg);
    }
}

.navigation-menu-button {
    &-bars {
        position: relative;
        height: 15px;
        width: 25px;

        &-bar {
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background: #303c6c;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                @include transform(translateY(-50%));
            }

            &:nth-child(3) {
                top: 100%;
                @include transform(translateY(-100%));
            }
        }

        &.is-menu-open {
            .navigation-menu-button-bars-bar {
                background: #f7f7f7;

                &:first-child {
                    @include animation(toggle-navigation-button-bar-1 $animationTime normal forwards ease-in-out);
                }

                &:nth-child(2) {
                    @include animation(toggle-navigation-button-bar-2 $animationTime normal forwards ease-in-out);
                }

                &:last-child {
                    @include animation(toggle-navigation-button-bar-3 $animationTime normal forwards ease-in-out);
                }
            }
        }

        &.is-menu-closed {
            .navigation-menu-button-bars-bar {
                &:first-child {
                    @include animation(toggle-navigation-button-bar-1-reversed $animationTime normal forwards ease-in-out);
                }

                &:nth-child(2) {
                    @include animation(toggle-navigation-button-bar-2-reversed $animationTime normal forwards ease-in-out);
                }

                &:last-child {
                    @include animation(toggle-navigation-button-bar-3-reversed $animationTime normal forwards ease-in-out);
                }
            }
        }
    }
}