@import "../../../../shared/mixins.scss";

.navigation-menu-modal {
    @include pc {
        &-unauthorized {
            width: 450px;
        }

        &-authorized {
            width: 350px;
        }
    }

    @media (max-width: 449px) {
        .navigation-menu-modal-login-with {
            display: none;
        }
    }

    .buttons {
        .modal-content-content-left {
            width: 45%;
            text-align: left;
        }

        .modal-content-content-right {
            width: 55%;
        }
    }
}