@import "../../shared/mixins.scss";

.footer {
    position: relative;
    z-index: 1;

    &-top {
        background-color: #ff5741;
        padding: 60px 0;

        &-grid {
            @include grid;

            &-top {
                @include mobile {
                    display: block;
                    text-align: center;
                }

                >* {
                    display: inline-block;
                    vertical-align: middle;
                }

                >span {
                    @include mobile {
                        display: block;
                        margin-top: 15px;
                    }

                    @include pc {
                        margin-left: 15px;
                    }

                    font-family: Lato, sans-serif;
                    color: #F7F7F7;
                    font-weight: 400;
                    font-size: 2rem;
                }
            }

            &-hr {
                background: rgba(#F7F7F7, 0.25);
                height: 2px;
                width: 100%;
                margin-top: 30px;
            }
        }
    }

    &-main {
        background-color: #F13C20;
        padding: 60px 0;
        font-family: Lato, sans-serif;

        &-grid {
            @include grid;

            &-column {
                @include pc {
                    display: inline-block;
                    vertical-align: top;
                    width: (100%/3);

                    &:first-child {
                        padding-right: 20px;
                        text-align: left;
                    }
    
                    &:not(:first-child):not(:last-child) {
                        padding: 0 10px;
                        text-align: center;
    
                        .footer-main-grid-column-hr {
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
    
                    &:last-child {
                        padding-left: 20px;
                        text-align: right;
    
                        .footer-main-grid-column-hr {
                            margin-left: auto;
                        }
                    }
                }

                @include mobile {
                    text-align: center;

                    .footer-main-grid-column-hr {
                        margin: 0 auto;
                    }

                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                }

                &-title {
                    color: #fff;
                    font-size: 2rem;
                    font-weight: bold;
                }

                &-hr {
                    background-color: rgba(#D8D8D8, 0.25);
                    margin-top: 5px;
                    height: 2px;
                    width: 50px;
                }

                &-content {
                    margin: 25px 0;

                    >a, >a:focus, >a:active, >a:visited {
                        display: block;
                    }

                    a, a:focus, a:active, a:visited {
                        color: #fff;
                        text-decoration: none;
                        font-size: 1.8rem;
                        font-weight: 500;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }

                        &:not(:first-child) {
                            margin-top: 10px;
                        }
                    }

                    &-title {
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: white;

                        &:not(:first-child) {
                            margin-top: 2.2rem;
                        }
                    }

                    &-content {
                        font-size: 1.8rem;
                        font-weight: 300;
                        color: white;
                    }
                }

                &-legal {
                    margin-top: 5px;
                    color: white;
                    font-family: Lato, sans-serif;
                    font-weight: 300;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }
            }   
        }
    }
}