@import "../../../../shared/mixins.scss";

.wizard-content-intro {
    &-title {
        position: relative;
        color: #303C6C;
        font-size: 2.4rem;
        font-family: Lato, sans-serif;
        font-weight: bold;
    }

    &-description {
        color: #777;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Lato, sans-serif;
        max-width: 757px;
    }

    &-hr {
        margin-top: 60px;
        background: #f7f7f7;
        height: 4px;
    }

    .badge {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    }
}