@import "../../../shared/mixins.scss";

.wizard-bottom {    
    &-main {
        position: relative;
        height: 10rem;
        background: #f7f7f7;
        border-radius: 0 0 12px 12px;

        &-right {
            position: absolute;
            right: 2rem;
            top: 50%;
    
            @include transform(translateY(-50%));
    
            >:not(:first-child) {
                margin-left: 2rem;
            }
        }
    }

    &-breadcrumbs {
        .breadcrumbs {
            @include mobile {
                padding: 0 20px;
            }

            position: absolute;
            width: 100%;

            margin-top: 0.5rem;

            @include transform(none);
        }
    }
}