@import "../../../../shared/mixins.scss";

#inbox-content {
    @include pc {
        display: table;
        position: absolute;
        height: 100%;
        max-height: 100%;
        vertical-align: top;
    }
    
    width: 100%;

    .inbox-content-button {
        background: none;
        padding: 1.5rem;
        display: table-cell;
        white-space: nowrap;

        &-icon {
            svg {
                height: 40px;
                width: auto;
                color: #f7f7f7;
            }

            &.destructive {
                svg {
                    color: #f13c20;
                }
            }
        }

        &-label {
            color: #f7f7f7;
            font-size: 1.4rem;
        }

        &:not(:first-child) {
            margin-left: 1.5rem;
        }

        &:hover {
            cursor: pointer;
            background: rgba(white, 0.1);
        }
    }
}