@import "../../shared/mixins.scss";
@import "../page/section/page-section.scss";

.breadcrumbs {
    @include pc {
        @include transform(translateY(-$pageSectionPaddingPc + 10));
    }

    @include mobile {
        @include transform(translateY(-$pageSectionPaddingMobile + 10));
    }

    &-path {
        display: inline-block;
        vertical-align: middle;

        &-label, &-arrow {
            display: inline-block;
            vertical-align: middle;
        }

        &-label {
            color: #777;
            font-size: 11px;
            font-family: Lato, sans-serif;
            font-weight: 400;
        }

        &-arrow {
            color: #777;
            padding: 0;

            @include transform(scale(0.5) translateY(3px));
        }

        &:not(:last-child) {
            .breadcrumbs-path-label {
                text-decoration: underline;
            }
        }

        &:last-child {
            .breadcrumbs-path-label {
                text-decoration: none;
            }
        }
    }
}