@import "./shared/mixins.scss";

* {
    @include selection {
        background: #F13C20;
    }

    @include mobile {
        @include hide-scrollbars;
    }

    @include pc {
        &::-webkit-scrollbar {
            background: none;
            width: 8px;
        }
        
        &::-webkit-scrollbar-track {
            background: #4056a1;
            border: none;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #F13C20;
    
            @include box-shadow(0 2px 2px rgba(#f13c20, 0.3));
        }
    }
}

body {
    position: relative;
    height: auto;
    min-height: 100% !important;

    @include pc {
        &.disable-scroll {
            @include hide-scrollbars;

            #navigation, #page {
                position: relative!important;
                top: 0!important;
            }

            #inbox-page-content {
                @include transform(translateY(-110px));
            }
        }

        &.background-white {
            background: #f7f7f7!important;

            #main {
                background: #f7f7f7!important;
            }
        }
    
        &.background-purple {
            background: #4056a1!important;

            #main {
                background: #4056a1!important;
            }
        }
    }

    @include mobile {
        &.disable-scroll {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            max-width: 100vw;
            max-height: 100vh;
            height: 100vh;
            -webkit-overflow-scrolling: auto;

            #navigation, #page {
                width: 100vw!important;
                width: calc(var(--vw, 1vw) * 100);
                min-width: 100vw!important;
                min-width: calc(var(--vw, 1vw) * 100);
                max-width: 100vw!important;
                max-width: calc(var(--vw, 1vw) * 100);
            }
        }

        &.navigation-menu-open {
            &.navigation-menu-mobile-menu-open {
                .navigation-menu-mobile {
                    background: white;
                }
            }
        }
    }

    &.disable-scroll {
        overflow: hidden;
    }

    &.firefox {
        scrollbar-width: none;

        ::-moz-focus-inner {
            border:0;
        }

        * {
            @include hide-scrollbars;
        }
    }

    &.hide-intercom {
        #intercom-container {
            display: none;
        }
    }

    main {
        >p {
            display: none;
        }
    }
}