@import "../../../shared/mixins.scss";

.wizard-content {
    @include pc {
        padding: 6rem;
    }

    @include mobile {
        padding: 6rem 20px;
    }

    background: white;

    .inline {
        @include pc {
            margin-top: 30px;
    
            @include transform(translateX(-30px));
    
            >.form-group {
                display: inline-block;
                vertical-align: top;
                max-width: 384px;
                width: 384px;
                margin-left: 30px;
            }
        }

        @include mobile {
            margin-top: 30px;

            >.form-group {
                max-width: 384px;
                margin-top: 30px;
            }
        }
    }

    >.collapse {
        margin-top: 30px;
    }

    .button {
        margin-left: 0;
    }

    >.margin {
        margin-top: 60px!important;
    }

    .hr {
        background: #f7f7f7;
        max-width: 384px;
        height: 4px;
        margin-top: 30px;

        &.left {
            margin-left: 0;
            margin-right: auto;
        }

        &.center {
            margin-left: auto;
            margin-right: auto;
        }

        &.right {
            margin-left: auto;
            margin-right: 0;
        }

        &.w75 {
            width: 75%;
        }

        &.w50 {
            width: 50%;
        }

        &.w25 {
            width: 25%;
        }
    }

    >.progress-spinner:first-child {
        padding: 100px 0;
    }

    .form-group {
        max-width: 384px;
    }

    >* {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
}