@import "../../../../shared/mixins.scss";

.roof-specialist-filters-modal-filter {
    @include pc {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
    
    padding: 0.75rem;

    &-label {
        color: #303c6c;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Lato, sans-serif;
    }

    &-content {
        margin-top: 5px;
    }
}