@import "../../../shared/mixins.scss";

.tab {
    display: table-cell;
    width: auto;

    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    
    padding: 3rem 0;

    &.color-white {
        background: white;
        color: #303c6c;
    }

    &.color-blue {
        background: #303c6c;
        color: #f7f7f7;
    }

    &:hover {
        cursor: pointer;
    }
}