@import "../../../shared/mixins.scss";

.wizard-top {
    @include pc {
        border-radius: 12px 12px 0 0;
        padding: 8.4rem 6rem;
    }

    @include mobile {
        padding: 6rem 20px;
    }

    position: relative;
    background: #4056A1;
    z-index: 1;

    @include box-shadow(0 2px 2px rgba(#4056A1, 0.2));

    &-left {
        padding-right: 110px;

        &-title {
            font-size: 3.2rem;
            line-height: 3.2rem;
            color: #f7f7f7;
            font-family: Lato, sans-serif;
        }
    }

    &-right {
        @include pc {
            right: 6rem;
        }

        @include mobile {
            right: 3rem;
        }

        position: absolute;
        right: 6rem;
        top: 50%;

        @include transform(translate(0, -50%));
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        @include transition(all 0.3s ease-in-out);

        &:not(.visible) {
            pointer-events: none;
        }
    }
}