@import "../../../../../shared/mixins.scss";

.profile-roof-specialist-reviews {
    .wizard-content {
        padding: 0;

        &-intro, &-outro {
            @include pc {
                padding: 6rem;
            }
        
            @include mobile {
                padding: 6rem 20px;
            }
        }

        &-intro {
            padding-bottom: 0;
        }

        &-outro {
            padding-top: 0;
        }
    }

    &-reviews {
        position: relative;
        background: #303c6c;
        padding: 3rem;
        margin-top: 0!important;

        &-content {
            overflow-x: auto;
            display: table;
            table-layout: auto;
            border-collapse: collapse;
            width: 100%;
            text-align: center;

            @include transform(translate(-1.5rem, -1.5rem));
        }
    }
}