@import "../../../../shared/mixins.scss";

.profile-picture-settings-modal {
    @include pc {
        width: 300px;
    }

    .profile-picture {
        margin-left: auto;
        margin-right: auto;
    }
}