@import "../../../shared/mixins.scss";

.navigation-button {
    @include mobile{
        display: block;
        width: 100%;
    }

    @include pc {
        display: inline-block;

        &:not(.selected) {
            &:hover {
                cursor: pointer;
            }
        }
        &:hover {
            background: rgba(#303C6C, 1);
        }
    }
    
    min-width: 200px;
    padding: 0 30px;
    box-sizing: border-box;
    height: 80px;
    line-height: 80px;
    font-family: Lato, sans-serif;
    color: #f7f7f7;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 2px 2px rgba(#F7F7F7, 0.2);
    text-decoration: none;
    background: rgba(#303C6C, 0);

    @include transition(all 0.1s ease-in-out);
    @include user-select(none);

    &.selected {
        background: rgba(#303C6C, 1);
    }

    &:active, &:visited, &:focus {
        color: #f7f7f7;
        text-decoration: none;
    }
}