@import "../../../../../shared/mixins.scss";

.inbox-content-no-selection {
    @include mobile {
        display: none;
    }

    @include pc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#f7f7f7, 0.95);
    }

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;

        color: #777;
        font-family: Lato, sans-serif;
        text-align: center;
        width: 500px;
        max-width: 100%;
        padding: 0 30px;
        margin: 0 auto;
        
        @include transform(translate(-50%, -50%));

        &-icon {
            svg {
                height: 40px;
                width: auto;
            }
        }

        &-label {
            font-weight: bold;
            font-size: 2rem;
            margin-top: 15px;
        }

        &-description {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}