@import "../../shared/mixins.scss";

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;

    &-content {
        &-slide {
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            @include transition(all 0.5s ease-in-out);
            
            &-content {
                position: absolute;
                top: 45%;
                left: 50%;
                width: 95%;

                @include transform(translate(-50%, -50%));
                
                * {
                    margin: 0 auto;
                }
    
                &-badge {
                    >.badge {
                        height: 4rem;
                        width: 4rem!important;
                        border-radius: 50%!important;
                        line-height: 4rem;
                        font-size: 2.5rem;
                    }
                }
    
                &-title {
                    margin-top: 1rem;
                    color: #F7F7F7;
                    font-size: 2rem;
                    font-family: Lato, sans-serif;
                    font-weight: 400;
                    max-width: 600px;
                }
    
                &-picture {
                    @include mobile {
                        width: 200px;
                        height: 100px;
                    }
    
                    @include pc {
                        width: 70rem;
                        height: 35rem;
                    }
    
                    background-color: #f7f7f7;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-top: 4rem;
                    border-radius: 6px;
                    box-sizing: border-box;
                }
            }
        }
    }

    &-prev, &-next {
        position: absolute;
        top: 50%;
        height: 6rem;
        width: 6rem;
        background: #f7f7f7;
        border-radius: 6px;
    
        @include transition(all 0.3s ease-in-out);
        @include transform(translateY(-50%));
        @include box-shadow(0 2px 5px rgba(#f7f7f7, 0.3));

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;

            @include transform(translate(-50%, -50%));
        }

        &.disabled {
            opacity: 0.5;
            @include box-shadow(none);
        }

        &:hover {
            cursor: pointer;
            @include box-shadow(none);

            &.disabled {
                cursor: not-allowed;
            }
        }
    }

    &-prev {
        left: 2rem;

        svg {
            @include transform(translate(-50%, -50%) rotate(-180deg));
        }
    }

    &-next {
        right: 2rem;
    }

    &-dots {
        position: absolute;
        bottom: 3rem;
        left: 50%;

        @include transform(translateX(-50%));

        &-dot {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: #f13c20;
                @include box-shadow(0 2px 2px rgba(#F13C20, 0.2));
            }

            &:not(.active) {
                background: #f7f7f7;
                @include box-shadow(0 2px 2px rgba(#f7f7f7, 0.2));
            }

            &:not(:first-child) {
                margin-left: 2rem;
            }

            &:hover {
                cursor: pointer;

                @include transform(translate(0.5px, -0.5px));

                &.active {
                    @include box-shadow(0 2px 2px rgba(#F13C20, 0.4));
                }

                &:not(.active) {
                    @include box-shadow(0 2px 2px rgba(#f7f7f7, 0.4));
                }
            }
        }
    }
}